    /*
    Flaticon icon font: Flaticon
    Creation date: 17/06/2020 14:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-distance:before { content: "\f100"; }
.flaticon-cough:before { content: "\f101"; }
.flaticon-stay-at-home:before { content: "\f102"; }
.flaticon-wash-your-hands:before { content: "\f103"; }
.flaticon-sneeze:before { content: "\f104"; }
.flaticon-fever:before { content: "\f105"; }
.flaticon-headache:before { content: "\f106"; }
.flaticon-breathing:before { content: "\f107"; }
    
    $font-Flaticon-distance: "\f100";
    $font-Flaticon-cough: "\f101";
    $font-Flaticon-stay-at-home: "\f102";
    $font-Flaticon-wash-your-hands: "\f103";
    $font-Flaticon-sneeze: "\f104";
    $font-Flaticon-fever: "\f105";
    $font-Flaticon-headache: "\f106";
    $font-Flaticon-breathing: "\f107";